yfinance # Yahoo Finance API
boto3 # Amazon SDK for Python
pathlib # Specifying the path from the OS
python-dotenv # Reading .env variables from the filesystem if the AWS CLI is not being used for authentication